<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KaKush@(String.IsNullOrWhiteSpace(@ViewBag.Title) ? null : $" - {@ViewBag.Title}")</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/AdminLTE.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Header", false)
</head>
<body class="">
    <header>
        <a href="~/" class="title">
            <img src="~/images/KaKushLogoWords.png" class="headerimage" />
        </a>
        <ul class="menu">
            <li><a href="~/Examples">Examples</a></li>
            <li><a href="~/Demo">Demo</a></li>
            <li><a href="~/NuGet">NuGet</a></li>
            <li><a href="~/Documentation">Documentation</a></li>
        </ul>
        <div style="clear:both"></div>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <div>
            <div class="col-sm-4" style="margin-bottom:15px;">

            </div>
            <div class="col-sm-4" style="margin-bottom:15px;">
                <span>Copyright © @DateTime.UtcNow.Year KaKush LLC</span><br />
                <span>All rights reserved.<br />The framework is distributed under the MIT License.</span>
            </div>
            <div class="col-sm-4" style="margin-bottom:15px;">

            </div>
        </div>

    </footer>

    @RenderSection("Scripts", false)

</body>
</html>
